<div class="home-wrapper" fxLayout="column" fxFlexFill>
    <!-- Navigation Tabs -->
    <nav class="navigation-tabs mat-elevation-z2">
        <button mat-button *ngFor="let tab of tabs" [class.active]="isActive(tab.id)" (click)="changeTab(tab.id)"
            >
            <mat-icon class="tab-icon">{{tab.icon}}</mat-icon>
            <span class="tab-label">{{tab.label}}</span>
           
        </button>
    </nav>

    <!-- Content Area -->
    <div class="content-container mat-elevation-z1">
        <ng-container [ngSwitch]="activeTab">
            <app-vista-listado-pedidos *ngSwitchCase="'orders'" class="tab-content"></app-vista-listado-pedidos>
            <app-formulario-registro-pedidos *ngSwitchCase="'register'"
                class="tab-content"></app-formulario-registro-pedidos>
            <app-vista-asignacion-rutas *ngSwitchCase="'routes'" class="tab-content"></app-vista-asignacion-rutas>
            <app-reporte-entregas *ngSwitchCase="'reports'" class="tab-content"></app-reporte-entregas>
        </ng-container>
    </div>
</div>